@font-face{
  font-family: 'PingFangBold';
  font-weight: none;
  font-style: normal;
  src: url('../font/PingFang\ Bold_0.ttf')
}

@font-face{
  font-family: 'guanyuan';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('../font/guoyuan.ttf')
}