@font-face{
  font-family: 'PingFangBold';
  font-weight: none;
  font-style: normal;
  src: url('../font/PingFang\ Bold_0.ttf')
}

/* @font-face{
  font-family: 'PingFangExtraLight';
  font-weight: none;
  font-style: normal;
  src: url('./PingFang\ ExtraLight_0.ttf')
}

@font-face{
  font-family: 'PingFangHeavy';
  font-weight: none;
  font-style: normal;
  src: url('./PingFang\ Heavy_0.ttf')
}

@font-face{
  font-family: 'PingFangLight';
  font-weight: none;
  font-style: normal;
  src: url('./PingFang\ Light_0.ttf')
}

@font-face{
  font-family: 'PingFangMedium';
  font-weight: none;
  font-style: normal;
  src: url('./PingFang\ Medium_0.ttf')
}

@font-face{
  font-family: 'PingFangRegular';
  font-weight: none;
  font-style: normal;
  src: url('./PingFang\ Regular_0.ttf')
} */